@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "ZawyaProBold";
  src: url("../fonts/ZawyaPro-WideSemiBold.ttf");
}

@font-face {
  font-family: "ZawyaProNormal";
  src: url("../fonts/ZawyaPro-WideLight.ttf");
}

@font-face {
  font-family: "GilroyRegular";
  src: url("../fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "GilroyMedium";
  src: url("../fonts/Gilroy-Medium.ttf");
}

* {
  margin: 0%;
  padding: 0px;
  box-sizing: border-box;

  /* Add Common Font */
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

#main {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

/* ----------------------- Page 1 started ----------------------- */

#page1 {
  display: flex;
  flex-direction: column;
  height: 43vw;
  width: 100%;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #c1cad0;
  background-color: #ffffff8b;
}

.nav-logo {
  width: 20%;
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: end;
}

.logo {
  height: 3vw;
  width: "auto";
}

.nav-links {
  width: 60%;
  padding: 1vw;
  padding-left: 6vw;
  padding-right: 6vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  font-size: 1vw;
  font-weight: 400;
  text-decoration: none;
  color: #424648;
  font-weight: 600;
  font-optical-sizing: auto;
  font-style: normal;
}

.nav-link-select {
  color: #e87d3f;
  font-weight: bold;
}

.nav-buttons {
  width: 20%;
  padding: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button {
  padding: 0.8vw;
  border: 1px solid #728a94;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.login-btb-text {
  color: #424648;
  font-weight: 600;
  font-size: 0.9vw;
  margin-left: 0.9vw;
}

.login-btn-user-icon {
  height: 1vw;
  width: "auto";
}

.wishlist-cover {
  display: flex;
  cursor: pointer;
}

.wishlist-icon {
  height: 1.6vw;
  width: "auto";
  margin-right: 2vw;
}

/* ----------------------- Page 1 End ----------------------- */

/* ----------------------- Page 2 started ----------------------- */

#page2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 4vw;
  padding-left: 8vw;
  padding-right: 8vw;
}

.title-text {
  font-weight: 400;
  font-size: 3vw;
  color: #030303;
}

.title-bold-text {
  font-weight: 700;
  font-size: 3vw;
  color: #030303;
}

.sub-title-text {
  color: #a9a9a9;
  font-weight: 200;
  font-size: 1.5vw;
  letter-spacing: 0.4vw;
  margin-bottom: 0.5vw;
}

.car-type-cover {
  margin-top: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.car-type-link-cover {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.car-type-link {
  font-size: 1.4vw;
  font-weight: 300;
  text-decoration: none;
  color: #626262;
  font-optical-sizing: auto;
}

.car-type-link-select {
  color: #181818;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 1.1vw;
  text-decoration-thickness: 0.1vw;
}

.featured-car-link-select {
  color: #181818;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 1.1vw;
  text-decoration-thickness: 0.1vw;
}

.view-all-cover {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.view-all-text {
  font-weight: 400;
  font-size: 1vw;
  color: #030303;
}

.view-all-icon {
  height: 1.4vw;
  margin-left: 0.6vw;
  width: "auto";
}

.car-container {
  margin-top: 3vw;
  display: flex;
  gap: 1vw;
  justify-content: space-between;
}

.car-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.car-image {
  width: 16vw;
  height: auto;
  border: 1px solid #e9ecef;
}

.car-title {
  font-size: 1vw;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  margin-bottom: 0.5vw;
  margin-top: 0.5vw;
}

.car-price {
  font-size: 1.2vw;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 1.6vw;
  color: #111111;
}

.swipe-control-cover {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-top: 1.5vw;
}

.icon-cover {
  height: 2.5vw;
  width: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bebebe;
  cursor: pointer;
}

.selected-icon-cover {
  border: 1px solid #0e0e0e;
}

.arrow-icon {
  height: 1vw;
  width: "auto";
}

.brand-container {
  margin-top: 3vw;
  display: flex;
  gap: 1vw;
  justify-content: space-between;
}

.brand-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.brand-image-cover {
  width: 11vw;
  height: 11vw;
  border: 1px solid #e9ecef;
  padding: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 0.6s ease, border-radius 0.6s ease;
}

.brand-image {
  width: 100%;
  height: auto;
}

.brand-title {
  font-size: 1vw;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  margin-bottom: 0.5vw;
  margin-top: 0.5vw;
}

/* ----------------------- Page 2 End ----------------------- */

/* ----------------------- Page 3 Start ----------------------- */
#page3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 4vw;
  padding-left: 8vw;
  padding-right: 8vw;
}

.budget-container {
  margin-top: 3vw;
  margin-bottom: 3vw;
  display: flex;
  gap: 1vw;
  justify-content: space-between;
}

.budget-box {
  width: 15vw;
  height: auto;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.budget-text-cover {
  width: 100%;
  height: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebf8fe;
}

.budget-car-row-container {
  margin-top: 1vw;
  display: flex;
  gap: 1vw;
  justify-content: space-between;
}

.budget-car-cover {
  height: 4.2vw;
  width: 4.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eeeff2;
}

.budget-title {
  font-size: 1vw;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  margin-bottom: 0.5vw;
}

.budget-price {
  font-size: 1.2vw;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 1vw;
  color: #111111;
}

.budget-car-image {
  width: 4vw;
  height: auto;
}

.body-type-container {
  margin-top: 3vw;
  gap: 1vw;
  justify-content: space-between;
  display: none;
}

.body-type-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.body-type-image {
  width: 8vw;
  height: 8vw;
  padding: 1.2vw;
  border: 1px solid #e9ecef;
}

.body-type-text {
  font-size: 1vw;
  font-weight: 500;
  text-decoration: none;
  margin-top: 0.5vw;
  margin-bottom: 1vw;
  color: #111111;
}

/* ----------------------- Page 3 End ----------------------- */

/* ----------------------- Page 4 Start ----------------------- */

#page4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 4vw;
  padding-left: 8vw;
  padding-right: 8vw;
  padding-bottom: 4vw;
}

.compare-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
  margin-top: 1.2vw;
}

.compare-cars-box {
  display: flex;
  width: 50%;
  border: 1px solid #e9ecef;
  position: relative;
}

.car-box {
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.compare-car-img {
  width: 68%;
  height: auto;
}

.compare-icon {
  height: 3vw;
  width: 3vw;
  border-radius: 1.5vw;
  background-color: #e87d3f;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swap-icon {
  height: 1.4vw;
  width: "auto";
}

.compare-car-button {
  padding: 0.8vw;
  background-color: #000000;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 101%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.compare-btb-text {
  color: #ffffff;
  font-weight: 600;
  font-size: 0.9vw;
  margin-right: 0.9vw;
}

.compare-line {
  width: 1px;
  height: 80%;
  background-color: #e9ecef;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.compare-btn-arrow-icon {
  height: 1vw;
  width: "auto";
}

/* ----------------------- Page 4 End ----------------------- */

/* ----------------------- Page 5 Start ----------------------- */
#page5 {
  display: flex;
  flex-direction: column;
  height: 28.5vw;
  width: 100%;
  background-image: url("../images/mid-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 4vw;
  margin-bottom: 4vw;
}
/* ----------------------- Page 5 End ----------------------- */

/* ----------------------- Page 6 Start (FOOTER) ----------------------- */

#page6 {
  display: flex;
  justify-content: space-between;
  height: 24vw;
  width: 100%;
  margin-top: 4vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  background-color: #000000;
}

.footer-section {
  width: 16.66%;
  display: flex;
  flex-direction: column;
  padding: 2vw;
  /* padding-left: 3vw; */
}

.footer-big-section {
  width: 25%;
}

.footer-title {
  font-size: 1.5vw;
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 1.8vw;
}

.footer-link {
  font-size: 1vw;
  font-weight: 200;
  margin-bottom: 0.8vw;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.email-input {
  background-color: transparent;
  font-size: 1.2vw;
  font-weight: 200;
  height: 3vw;
  border: 0px;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
}

.email-input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.email-input:focus {
  outline: none;
}

.social-icons-contner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2vw;
}

.social-icon-cover {
  height: 3vw;
  width: 3vw;
  border-radius: 1.5vw;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.social-icon {
  height: 1.6vw;
  width: auto;
}

/* ----------------------- Page 6 End ----------------------- */

/* ----------------------- Page 7 Start (COPY) ----------------------- */

#page7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ea641d;
  padding: 0.5vw;
}

.copy-text {
  color: #ffffff;
  font-weight: 400;
  font-size: 0.9vw;
  letter-spacing: 0.1vw;
}

/* ----------------------- Page 7 End ----------------------- */

/* ----------------------- Page 8 End ----------------------- */
.faq-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 4vw;
  padding-left: 8vw;
  padding-right: 8vw;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 1.2vw 0;
}

.faq-question {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
}

.faq-icon {
  margin-right: 10px;
  font-size: 1.5rem;
}

.faq-title {
  flex-grow: 1;
}

.faq-answer {
  display: none;
  padding: 1.2vw 0;
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}

.faq-item.active .faq-answer {
  display: block;
}

.faq-item.active .faq-icon {
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.show-pop{
  display: flex;
}

.show-just{
  display: none;
}

@media (max-width: 768px) {
  .faq-title {
    font-size: 1rem;
  }

  .faq-answer {
    font-size: 0.9rem;
  }
}
/* ----------------------- Page 8 End ----------------------- */

/* Large screens (Desktop) */
@media screen and (min-width: 1024px) {
  .link:hover {
    color: #e87d3f;
  }

  .login-button:hover {
    background-color: #ffe8db;
  }

  .wishlist-cover:hover .wishlist-icon {
    filter: drop-shadow(0px 100px 0 #e87d3f);
    transform: translateY(-100px);
  }

  .car-type-link:hover {
    color: #e87d3f;
  }

  .view-all-cover:hover .view-all-icon {
    filter: drop-shadow(0px 100px 0 #e87d3f);
    transform: translateY(-100px);
  }

  .view-all-cover:hover .view-all-text {
    color: #e87d3f;
  }

  .car-cover:hover .car-image {
    border: 1px solid #ffffff;
  }

  .car-cover:hover {
    -webkit-box-shadow: 0px 0px 17px 1px rgba(240, 240, 240, 1);
    -moz-box-shadow: 0px 0px 17px 1px rgba(240, 240, 240, 1);
    box-shadow: 0px 0px 17px 1px rgba(240, 240, 240, 1);
  }

  .icon-cover:hover {
    background-color: #ffe8db;
  }

  .brand-cover:hover {
    -webkit-box-shadow: 0px 0px 17px 1px rgba(240, 240, 240, 1);
    -moz-box-shadow: 0px 0px 17px 1px rgba(240, 240, 240, 1);
    box-shadow: 0px 0px 17px 1px rgba(240, 240, 240, 1);
  }

  .brand-cover:hover .brand-image-cover {
    border: 1px solid #ffffff;
    border-radius: 2vw;
  }

  .body-type-cover:hover .body-type-image {
    border: 1px solid #ffffff;
  }

  .body-type-cover:hover {
    -webkit-box-shadow: 0px 0px 17px 1px rgba(240, 240, 240, 1);
    -moz-box-shadow: 0px 0px 17px 1px rgba(240, 240, 240, 1);
    box-shadow: 0px 0px 17px 1px rgba(240, 240, 240, 1);
  }

  .compare-car-button:hover {
    background-color: #e87d3f;
  }

  .footer-link:hover {
    color: #ea641d;
  }

  .social-icon-cover:hover {
    background-color: #ffe8db;
  }

  .mob-nav {
    display: none;
  }
}

/* Medium screens (Tablet) */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .mob-nav {
    display: none;
  }
}

/* Small screens (Mobile) */
@media screen and (max-width: 767px) {
  #page1 {
    background-image: url("../images/banner-mobile.png");
    height: 116vw;
  }

  #page2 {
    padding-top: 10vw;
    padding-left: 4vw;
    padding-right: 0vw;
  }

  #page3 {
    padding-top: 12vw;
    padding-left: 4vw;
    padding-right: 0vw;
  }

  #page4 {
    padding-top: 0vw;
    padding-left: 4vw;
    padding-right: 4vw;
  }

  #page5 {
    background-image: url("../images/mid-banner-mobile.png");
    height: 80vw;
    margin-top: 10vw;
    margin-bottom: 10vw;
  }

  .faq-container {
    padding-top: 16vw;
    padding-bottom: 8vw;
    padding-left: 8vw;
    padding-right: 8vw;
  }

  .title-text {
    font-size: 6vw;
  }

  .title-bold-text {
    font-size: 6vw;
  }

  .sub-title-text {
    font-size: 3vw;
  }

  .car-type-link {
    font-size: 4vw;
    font-weight: 300;
    text-decoration: none;
    color: #626262;
    font-optical-sizing: auto;
  }

  .car-type-link-select {
    color: #181818;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 1.1vw;
    text-decoration-thickness: 0.1vw;
  }

  .car-container {
    margin-top: 5vw;
    gap: 1vw;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: 2vw;
  }

  .car-container::-webkit-scrollbar {
    display: none;
  }

  .car-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .car-image {
    width: 60vw;
  }

  .car-title {
    font-size: 4vw;
    margin-bottom: 0.5vw;
    margin-top: 1vw;
  }

  .car-price {
    font-size: 5vw;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 2vw;
    color: #111111;
  }

  .car-type-cover {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .car-type-link-cover {
    text-wrap: nowrap;
    gap: 4vw;
  }

  .view-all-text {
    font-size: 4vw;
  }

  .view-all-icon {
    height: 4vw;
    margin-left: 0.6vw;
    width: "auto";
  }

  .swipe-control-cover {
    display: none;
  }

  .budget-container {
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: 2vw;
  }

  .budget-container::-webkit-scrollbar {
    display: none;
  }

  .budget-box {
    width: 60vw;
  }

  .budget-text-cover {
    width: 100%;
    height: 32vw;
  }

  .budget-car-row-container {
    margin-top: 1vw;
    display: flex;
    gap: 1vw;
    justify-content: space-between;
  }

  .budget-car-cover {
    height: 20vw;
    width: 20vw;
  }

  .budget-title {
    font-size: 8vw;
  }

  .budget-price {
    font-size: 4vw;
  }

  .budget-car-image {
    width: 18vw;
    height: auto;
  }

  .body-type-container {
    flex-wrap: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .body-type-image {
    width: 30vw;
    height: 30vw;
    padding: 1.2vw;
    border: 1px solid #e9ecef;
  }

  .body-type-text {
    font-size: 4vw;
  }

  .brand-container {
    padding-right: 4vw;
    margin-top: 3vw;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: space-between;
  }

  .brand-image-cover {
    width: 29vw;
    height: 29vw;
    border: 1px solid #e9ecef;
    padding: 1vw;
  }

  .brand-title {
    font-size: 3.6vw;
    font-weight: 400;
  }

  .hide-content {
    display: none;
  }

  .compare-container {
    margin-top: 4vw;
    flex-wrap: wrap;
    gap: 8vw;
  }

  .compare-cars-box {
    width: 100%;
    padding-bottom: 4vw;
  }

  .compare-car-img {
    width: 78%;
    height: auto;
  }

  .compare-icon {
    height: 8vw;
    width: 8vw;
    border-radius: 4vw;
  }

  .swap-icon {
    height: 3vw;
    width: "auto";
  }

  .compare-car-button {
    padding: 1vw;
  }

  .compare-btb-text {
    color: #ffffff;
    font-weight: 600;
    font-size: 4vw;
    margin-right: 0.9vw;
  }

  .compare-btn-arrow-icon {
    height: 4vw;
    width: "auto";
  }

  .mob-nav {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #000000;
    padding: 2.5vw;
    justify-content: space-between;
  }

  .nav-section {
    width: 33.33%;
    display: flex;
    justify-content: center;
  }

  .menu-icon {
    height: auto;
    width: 6vw;
  }

  .mob-logo {
    height: 6vw;
    width: "auto";
  }

  .profile-cover {
    display: flex;
    gap: 3vw;
    align-items: center;
  }

  .profile-icon {
    width: 5.2vw;
    height: auto;
  }

  #page7 {
    padding: 2vw;
  }

  .copy-text {
    font-size: 2.5vw;
  }

  #page6 {
    height: 136vw;
    flex-wrap: wrap;
  }

  .footer-section {
    width: 33.33%;
    padding-top: 8vw;
  }

  .footer-big-section {
    width: 100%;
  }

  .footer-title {
    font-size: 4vw;
  }

  .footer-link {
    font-size: 3vw;
    margin-bottom: 1.2vw;
  }

  .email-input {
    font-size: 4vw;
    height: 10vw;
  }

  .social-icons-contner {
    margin-top: 5vw;
    justify-content: left;
    gap: 3vw;
  }

  .social-icon-cover {
    height: 10vw;
    width: 10vw;
    border-radius: 5vw;
  }

  .social-icon {
    height: 5vw;
  }

  /* Sidebar styles */
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000f1;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 20px;
    z-index: 1000;
  }

  /* Sidebar links */
  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }

  /* Change link color on hover */
  .sidebar a:hover {
    background-color: #575757;
  }

  /* Close button */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
  }

  /* Open the sidebar to 75% width on mobile */
  .sidebar.active {
    width: 65%;
  }

  .sidebar-logo {
    height: 12vw;
    width: "auto";
    margin-left: 3vw;
    margin-bottom: 10vw;
  }
}
